
@{
}

<h1>Remove Cheese</h1>

@if (ViewBag.cheeses.Count == 0)
{
    <p>There are no cheeses in the List to Delete</p>
}
<form method="post">
    <select name="cheese">
        @foreach (KeyValuePair<string, string> cheese in ViewBag.cheeses)
        {
        <option>@cheese.Key</option>
        }
    </select>
    <input type="submit" value="Delete" />
</form>
